body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}


header {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(255, 255, 3);
  background: black;
}

.logo {
  padding-left: 30px;
  height: 50px;
  width: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding-right: 400px;
}

nav ul li {
  text-align: center; 
  margin-right: 40px;
 
}

nav ul li a{
  color: rgba(207, 207, 2, 0.878);
  text-decoration: none;

}


h1{
    color: yellow;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    color: yellow;
    text-align: center;
}

.About {
    border: 1px solid #ddd;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    
}

.About h2 {
    margin-top: 0;
    color: yellow;
}


footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

.footer-logo {
  height: 30px;
  margin-right: 20px;
}

.social-icons {
  display: inline-block;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

